<div class="content">
    <mat-chip-list aria-label="Fish selection" >
        <mat-chip color="primary" *ngFor="let tag of tag" (click)="selectTag(tag)">
            {{tag}}
        </mat-chip>
    </mat-chip-list>
    <br>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf='keyTag != null'>
      <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let data of obs | async">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url({{data.owner.picture}})" ></div>
            <mat-card-title>{{data.owner.firstName}} {{data.owner.lastName}}</mat-card-title>
            <mat-card-subtitle>Liked by {{data.likes}} people</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="img" src='{{data.image}}'>
          <mat-card-content>
            <p>
              {{data.text}}
            </p>

            <!-- <mat-divider></mat-divider> -->

            <!-- <mat-card-actions> -->
              <button mat-button (click)="showComment(data.id)">Show Comments</button>
            <!-- </mat-card-actions> -->
            <div *ngIf="data.id === commentId && toggle">
              <div *ngIf="comment.length != 0">
                <mat-card class="mat-elevation-z4" *ngFor="let cm of comment">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url({{cm.owner.picture}})" ></div>
                    <mat-card-title>{{cm.owner.firstName}} {{cm.owner.lastName}}</mat-card-title>
                    <mat-card-subtitle> {{cm.message}} </mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </div>
              <p style="text-align: center;" *ngIf="comment.length == 0">No Comments</p>
            </div>
            
          </mat-card-content>
          
          <!-- <mat-chip-list aria-label="Fish selection" >
            <mat-chip color="primary" *ngFor="let postTag of data.tags" (click)="selectTag(postTag)">
              {{postTag}}
            </mat-chip>
          </mat-chip-list> -->
        </mat-card>
      </div>
    </div>
    

    <mat-paginator *ngIf='keyTag != null'
      [length] = 'len'
      [hidePageSize] = true
      [pageSizeOptions]="[6]" 
      (page)="pageEvents($event)">
    </mat-paginator>
</div>