.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

::ng-deep .mat-paginator-page-size{
    display: none !important;
}

::ng-deep .mat-paginator-range-label{
    display: none !important;
}